<div class="ride-card">
   <button class="back-btn" (click)="goBack()">חזור לרשימה ←</button>
  <h2 class="heading">פרטי הנסיעה</h2>
<button 
  *ngIf="canStartRide()"
  class="start-ride-btn"
  (click)="startRide()">
  🚗 התחל נסיעה
</button>

  <div class="detail-row">
    <span class="detail-label">תאריך:</span>
    <span class="detail-value">{{ ride?.start_datetime | date: 'dd/MM/yyyy' }}</span>
  </div>

  <div class="detail-row">
    <span class="detail-label">שעת התחלה:</span>
    <span class="detail-value">{{ ride?.start_datetime | date: 'HH:mm' }}</span>
  </div>

  <div class="detail-row">
    <span class="detail-label">שעת סיום:</span>
    <span class="detail-value">{{ ride?.end_datetime | date: 'HH:mm' }}</span>
  </div>

  <div class="detail-row">
    <span class="detail-label">סוג נסיעה:</span>
    <span class="detail-value">{{ ride?.ride_type === 'operational' ? 'מבצעית' : 'מנהלתית' }}</span>
  </div>

  <div class="detail-row">
    <span class="detail-label">מרחק מוערך:</span>
    <span class="detail-value">{{ ride?.estimated_distance_km }} ק״מ</span>
  </div>

 <div class="detail-row">
  <span class="detail-label">מיקום התחלה:</span>
  <span class="detail-value">{{ getCityName(ride?.start_location) }}</span>
</div>

<div class="detail-row">
  <span class="detail-label">תחנה:</span>
  <span class="detail-value">{{ getCityName(ride?.stop) }}</span>
</div>

<div class="detail-row">
  <span class="detail-label">יעד:</span>
  <span class="detail-value">{{ getCityName(ride?.destination) }}</span>
</div>


<div class="detail-row">
  <span class="detail-label">רכב שנבחר:</span>
  <span class="detail-value">{{ ride?.vehicle || 'לא זמין' }}</span>
</div>



  <div class="detail-row">
    <span class="detail-label">סטטוס:</span>
<span 
  class="detail-value"
  [ngClass]="{
    'rejected-row': ride?.status === 'rejected',
    'in-progress-row': ride?.status === 'in_progress'
  }">
  {{ ride?.status === 'pending' ? 'ממתין' : 
     ride?.status === 'approved' ? 'מאושר': 
     ride?.status === 'completed' ? 'הושלם' : 
     ride?.status === 'in_progress' ? 'בתהליך' :
     ride?.status === 'rejected' ? 'נדחה' : '' }}
</span>  </div>
</div>
