<form [formGroup]="forgotForm" (ngSubmit)="onSubmit()">
  <h2>שכחת סיסמה?</h2>

  <div>
    <label for="email">כתובת אימייל</label>
    <input id="email" type="email" formControlName="email">
   <div *ngIf="submitted && f['email'].errors">
  <small *ngIf="f['email'].errors['required']">שדה חובה</small>
  <small *ngIf="f['email'].errors['email']">כתובת לא תקינה</small>
</div>

  </div>

  <button type="submit">שלח קישור לאיפוס</button>

  <div *ngIf="message" style="color: green">{{ message }}</div>
  <div *ngIf="error" style="color: red">{{ error }}</div>
</form>
