.error-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-family: 'Assistant', sans-serif;
    margin-top: 20px; 
  }
  
  .error-container h1 {
    font-size: 100px;
    color: #942222;
    margin-bottom: 5px;
  }
  
  .error-container p {
    font-size: 20px;
    color: #333;
    margin: 10px 0;
  }
  
  .error-image {
    width: 150px;
    margin: 10px 0;
  }
  
  .home-button {
    margin-top: 15px;
    padding: 10px 24px;
    font-size: 18px;
    background-color: #942222;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
  }
  
  .home-button:hover {
    background-color: #7a1c1c;
  }
  