<div class="vehicle-details-wrapper">
  <div class="vehicle-wrapper-header">
    <h1>פרטי רכב</h1>
    <button (click)="goBack()" class="back-button">⬅ חזור</button>
  </div>
  <br />

  <div class="vehicle-details-content">
    <!-- existing card remains unchanged -->
    <p><strong>פעם אחרונה בשימוש:</strong> {{ vehicle.last_used_at | date: 'yyyy-MM-dd HH:mm' }}</p>
    <p><strong>מיקום נוכחי:</strong> {{ vehicle.current_location }}</p>
    <p *ngIf="vehicle.status === 'frozen' && vehicle.freeze_reason">
      <strong>סיבת הקפאה:</strong> {{ translateFreezeReason(vehicle.freeze_reason) }}
    </p>
    <p><strong>ק״מ:</strong> {{ vehicle.odometer_reading }}</p>

    <!-- Unfreeze button -->
    <button class="unfreeze-button" (click)="unfreezeStatus()" *ngIf="vehicle.status === 'frozen'">
      שחרור מהקפאה
    </button>

    <!-- Freeze button -->
    <button class="freeze-button" (click)="showFreezeReasonField()"
      *ngIf="vehicle.status === 'in-use' || vehicle.status === 'available'">
      הקפא רכב
    </button>

    <!-- Freeze reason input field -->
    <div *ngIf="isFreezeReasonFieldVisible" class="freeze-reason-container">
      <input type="text" [(ngModel)]="freezeReason" placeholder="הזן סיבת הקפאה" class="freeze-reason-input" />
      <button class="confirm-freeze-button" (click)="freezeStatus()">
        אישור הקפאה
      </button>
    </div>
  </div>

</div>
</p-card>


</div>
</div>