<div class="page-container">
  <div class="login-box">
    <a routerLink="/home" routerLinkActive="active"><div class="close-btn">✕</div></a>

    <h2>יצירת משתמש חדש</h2>

    <div class="form-grid">
      <div>
        <label>שם פרטי</label>
        <input type="text">
      </div>
      <div>
        <label>שם משפחה</label>
        <input type="text">
      </div>
      <div>
        <label>שם משתמש</label>
        <input type="text">
      </div>
      <div>
        <label>כתובת דואר אלקטרוני</label>
        <input type="email">
      </div>
      <div>
        <label>סיסמה</label>
        <input type="password">
      </div>
      <div>
        <label>מחלקה</label>
        <select>
          <option value="">לחץ.י לבחירת מחלקה</option>
        </select>
      </div>

      <button>צור משתמש</button>
    </div>
  </div>
</div>
