<!DOCTYPE html>
<html lang="he" dir="rtl">
<head>
  <meta charset="UTF-8" />
  <title>Bookit Login</title>
  <link href="https://fonts.googleapis.com/css2?family=Alef:wght@400;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="header.component.css" />
</head>
<body>
  <div class="navbar">
    <div class="nav-left">
      <div class="user-menu-container">
        <a routerLink="/login" routerLinkActive="active">
          <img src="/assets/images/user-icon.png" alt="User Icon" />
        </a>
      <ul class="user-dropdown">
  <!-- If not logged in -->
  <ng-container *ngIf="!isLoggedIn">
    <li><a routerLink="/login">התחברות</a></li>
    <li><a routerLink="/register">יצירת משתמש חדש</a></li>
  </ng-container>

  <!-- If logged in -->
  <ng-container *ngIf="isLoggedIn">
    <li><a (click)="onLogout()">התנתקות</a></li>
  </ng-container>
</ul>

      </div>
      

      <span class="username">{{ fullName$ | async }}</span>
      <a [routerLink]="['/new-ride']" title="להזמין נסיעה">
        <img src="/assets/images/add-car.png" alt="Car" class="add-car" />
      </a>
    </div>    

    <div class="nav-center">
      <a [routerLink]="(role$ | async) === 'employee' ? '/home' : null"
   [class.disabled]="(role$ | async) !== 'employee'"
   routerLinkActive="active"><img src="/assets/images/bookit-logo.png" alt="Bookit Logo" class="logo"/></a>
    </div>

    <div class="nav-right">
    <a *ngIf="(role$ | async) === 'admin'" [routerLink]="['/cars']" class="nav-link" href="#">רכבים | </a>
    <a *ngIf="(role$ | async) === 'admin'" [routerLink]="['/daily-checks']" class="nav-link" href="#">בדיקות יומיות | </a>
    <a *ngIf="(role$ | async) === 'supervisor'" [routerLink]="['/supervisor-dashboard']" class="nav-link" href="#">הזמנות מחלקה  </a>

      <a *ngIf="(role$ | async) === 'employee'" [routerLink]="['home']" class="nav-link" href="#">ההזמנות שלי </a>
     <a routerLink="/notifications">
  <img src="/assets/images/bell-icon.png" alt="Notifications" />
    </a>
    </div> 
  </div>

  <!-- <img src="/assets/images/street.png" alt="Graphic" class="street-img" /> -->
</body>
</html>

