<div class="departments-container">
  <h2>נתוני מחלקות</h2>

  <button
    (click)="toggleNewDepartmentMode()"
    [class]="isNewDepartmentMode ? 'closed-button' : 'add-department-button'"
  >
    {{ isNewDepartmentMode ? "סגור חלון " : "  הוסף מחלקה חדשה +" }}
  </button>
  <div *ngIf="isNewDepartmentMode" class="new-department-form">
    <form [formGroup]="newDepartmentForm" (ngSubmit)="submitNewDepartment()">
      <div>
        <label>שם מחלקה</label>
        <input formControlName="name" type="text" />
      </div>
      <div>
        <label>מנהל מחלקה</label>
        <select formControlName="supervisor_id">
          <option value="">בחר מנהל</option>
          <option *ngFor="let user of users" [value]="user.employee_id">
            {{ user.first_name }} {{ user.last_name }}
          </option>
        </select>
      </div>
      <button
        type="submit"
        [disabled]="newDepartmentForm.invalid || isSubmitting"
        class="save-button"
      >
        {{ isSubmitting ? "שומר..." : "שמור" }}
      </button>
    </form>
  </div>

  <div class="departments-list">
    <div class="department-cards" *ngFor="let department of departments">
      <div
        class="department-info"
        (mouseenter)="setHoveredDepartment(department.id)"
        (mouseleave)="setHoveredDepartment(null)"
      >
        <div class="department-title">
          <h3>{{ department.name }}</h3>
          <div class="department-actions">
            <i
              *ngIf="
                hoveredDepartmentId === department.id &&
                !isProtectedDepartment(department)
              "
              (click)="openEditModal(department)"
              class="pi pi-pencil edit-icon"
            ></i>
            <i
              *ngIf="
                hoveredDepartmentId === department.id &&
                !isProtectedDepartment(department)
              "
              (click)="openDeleteModal(department)"
              class="pi pi-trash delete-icon"
            ></i>
          </div>
        </div>
        <div class="department-supervisor">
          <p *ngIf="!isProtectedDepartment(department)">
            <i class="pi pi-user"></i>
            מנהל מחלקה :
            {{ supervisorNames[department.supervisor_id] || "לא נמצא" }}
          </p>

          <p *ngIf="isUnassignedDepartment(department)">
            <i class="pi pi-info-circle"></i>
            מחלקת ברירת מחדל (ללא מנהל)
          </p>

          <p *ngIf="isVIPDepartment(department)">
            <i class="pi pi-star"></i>
            מחלקת VIP (ללא מנהל)
          </p>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="isEditModalOpen" class="modal-overlay">
  <div class="modal-content" dir="rtl">
    <div class="modal-header">
      <button
        type="button"
        class="close-modal-button"
        (click)="closeEditModal()"
        aria-label="סגור"
      >
        ×
      </button>
      <h3>ערוך מחלקה</h3>
    </div>

    <form [formGroup]="editDepartmentForm" (ngSubmit)="updateDepartment()">
      <div class="form-group">
        <label for="editName">שם מחלקה</label>
        <input id="editName" formControlName="name" type="text" />
      </div>

      <div class="form-group">
        <label for="editSupervisor">מנהל מחלקה</label>
        <select id="editSupervisor" formControlName="supervisor_id">
          <option value="">בחר מנהל</option>
          <option
            *ngFor="let user of editSupervisors"
            [value]="user.employee_id"
            [disabled]="user.disabled"
          >
            {{ user.first_name }} {{ user.last_name }}
          </option>
        </select>
      </div>

      <div class="modal-actions">
        <button
          type="submit"
          [disabled]="editDepartmentForm.invalid || isSubmitting"
          class="save-button-modal"
        >
          {{ isSubmitting ? "שומר..." : "שמור" }}
        </button>

        <button type="button" (click)="closeEditModal()">ביטול</button>
      </div>
    </form>
  </div>
</div>
