
.page-container {
  display: flex;
  justify-content: center;
  align-items: center;
  /* padding: 60px 20px; */
  direction: rtl;
  font-family: 'Alef', sans-serif;
  background-color: #ccc;
  background-color: #cccccc;
    min-height: calc(100vh - 55px); /* subtract any fixed nav height if needed */
    margin-top: 0;
    padding-top: 10px;
  box-sizing: border-box; /* Includes padding in total height */
}


/* Modal box */
.login-box {
  background: white;
  border-radius: 10px;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
  padding: 30px 40px;
  max-width: 500px;
  width: 100%;
  position: relative;
  text-align: right;
  
}
.register-link{
  padding-right: 161px;
  padding-top: 10px;
  color: #000;
}
/* Close button top-left */
.close-btn {
  position: absolute;
  top: 15px;
  left: 15px;
  cursor: pointer;
  font-size: 20px;
}

/* Form title */
.login-box h2 {
  color: #942222;
  margin-bottom: 25px;
  text-align: center;
}

/* Label styles */
label {
  display: block;
  margin: 10px 0 5px;
  font-weight: bold;
}

/* Input fields */
input,
select {
  width: 420px;
  padding: 10px;
  border: 1px solid #ccc;
  background: #e5e5e5;
  border-radius: 5px;
  margin-bottom: 15px;
  font-size: 16px;
}
.password-container {
  position: relative;
  display: flex;
}
/* Submit button */
button {
  width: 100%;
  padding: 12px;
  background: #942222;
  color: white;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  font-size: 16px;
  margin-top: 10px;
  cursor: pointer;
}

button:hover {
  background-color: #a23333;
}

.show-password {
 
  z-index: 90;
  width: 30px;
  height: 30px;
 
}

.password-container {
  position: relative;
  display: flex;
  align-items: center;
}

.password-input {
  width: 100%;
  padding: 10px 40px 10px 10px; /* space for the icon on the right */
  border: 1px solid #ccc;
  background: #e5e5e5;
  border-radius: 5px;
  font-size: 16px;
  direction: rtl;
}

.show-password {
  position: absolute;
  left: 10px; 
  top: 20%;
  cursor: pointer;
  color: #555;
}
