<div>
    
    
            <div class="page-container">
                <div class="login-box">
                  <a routerLink="/home" routerLinkActive="active"><div class="close-btn">✕</div></a>
                  <h2>התחברות</h2>
                
                  <label>שם משתמש</label>
                  <input type="text" [(ngModel)]="username" name="username"/>
            
                  <label>סיסמה</label>
                  <input type="password" [(ngModel)]="password" name="password"/>
            
                  <button (click)="onLogin()">התחבר</button>
                  <p class="register-link">אין לי משתמש</p>
                  <p *ngIf="errorMessage" style="color: red;">{{ errorMessage }}</p>
                </div>
              
</div>

<router-outlet></router-outlet>