<div class="overlay">
  <div class="modal">
    <div class="headers">
          <h2>עריכת נסיעה</h2>
 <button class="back-btn" (click)="close()">חזור ←</button> 
 </div>
    <hr />
    

    <form [formGroup]="rideForm" (ngSubmit)="submit()">
      <div class="form-content">
        <!-- Row 1: סוג נסיעה + תאריך -->
        <div class="row">
          <div class="input-group">
            <label>סוג נסיעה</label>
            <select formControlName="ride_type" class="styled-select">
              <option value="administrative">מנהלתית</option>
              <option value="operational">מבצעית</option>
            </select>
          </div>

          <div class="input-group">
            <label>תאריך</label>
            <input type="date" formControlName="ride_date" [min]="minDate" />
          </div>
        </div>

       <div class="row">
  <div class="input-group">
    <label>שעת התחלה</label>
    <select formControlName="start_time">
      <option *ngFor="let time of timeOptions" [value]="time">
        {{ time }}
      </option>
    </select>
  </div>

  <div class="input-group">
    <label>שעת סיום</label>
    <select formControlName="end_time">
      <option *ngFor="let time of timeOptions" [value]="time">
        {{ time }}
      </option>
    </select>
  </div>
</div>


        <!-- Row 3: סוג רכב + בחר רכב -->
        <div class="row">
          <div class="input-group">
            <label>סוג רכב</label>
            <select formControlName="vehicle_type" class="styled-select">
              <option >בחר סוג רכב</option>
            <option *ngFor="let type of vehicleTypes" [value]="type">{{ type }}</option>
            </select>
          </div>

          <div class="input-group">
            <label>בחר רכב</label>
            <select formControlName="car" class="styled-select">
              <option>בחר רכב</option>
<option *ngFor="let car of availableCars" [value]="car.id">{{ car.vehicle_model }}</option>
            </select>
          </div>
        </div>

        <!-- Row 4: מרחק -->
        <div class="row">
          <div class="input-group">
            <label>מרחק (ק"מ)</label>
            <input type="number" formControlName="estimated_distance_km" />
            <small *ngIf="rideForm.get('estimated_distance_km')?.value" class="distance-info">
              המרחק לאחר תוספת סטייה: {{ estimated_distance_with_buffer }} ק"מ
            </small>
          </div>
        </div>

        <!-- Row 5: מיקום התחלה + תחנה + יעד -->
        <div class="row">
          <div class="input-group">
            <label>מיקום התחלה</label>
            <input type="text" formControlName="start_location" />
          </div>
          <div class="input-group">
            <label>תחנה</label>
            <input type="text" formControlName="stop" />
          </div>
          <div class="input-group">
            <label>יעד</label>
            <input type="text" formControlName="destination" />
          </div>
        </div>
      </div>

      <button class="submit-btn" type="submit">עדכן</button>
    </form>
  </div>
</div>
