/* General reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Assistant', sans-serif;
    background-color: #eae4eb;
    direction: rtl;
}

/* FORM MODAL */
.overlay {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

.modal {
    background-color: white;
    padding: 20px 30px;
    border-radius: 10px;
    width: 600px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    position: relative;
}

.close-btn {
    position: absolute;
    top: 10px;
    left: 10px;
    background: none;
    border: none;
    font-size: 22px;
    cursor: pointer;
}

h2 {
    color: #942222;
    text-align: right;
    margin-bottom: 10px;
}

hr {
    border: 1px solid #ccc;
    margin-bottom: 20px;
}

form .row {
    display: flex;
    gap: 20px;
    margin-bottom: 15px;
}

.input-group {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.input-group label {
    margin-bottom: 5px;
    font-weight: bold;
}

.input-group input {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #d3b1b1;
    background-color: #e7c1c1;
}

.submit-btn {
    background-color: #942222;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

.submit-btn:hover {
    background-color: #7a1c1c;
}
