
.notification-page {
  font-family: 'Alef', sans-serif;
  height: 400px;
  background-color: #fef7ff;
  padding: 1rem;
  border-radius: 16px;
  border: 4px solid #cac4d0;
  max-width: 1000px;
  margin: 30px auto 0 auto; 
  
}
.wrapper{
  background-color: #cccccc;
    height: 530px;
    margin-top: 0;
    padding-top: 10px;
    background-color: #cccccc;
    min-height: calc(100vh - 55px); /* subtract any fixed nav height if needed */
    margin-top: 0;
}
.title {
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 1rem;
}

.notification {
  padding: 0.5rem;
  border-radius: 8px;
  margin-bottom: 0.5rem;
  text-align: center;
  font-size: 15px;
  color: #000;
  opacity: 1;
}

/* Approved – Green */
.notification.approved {
  background-color: #e6f4ea; /* Light green background */
  border: 1px solid #34a853; /* Google green */
  color: #256029; /* Dark green text */
}

/* Rejected – Red */
.notification.rejected {
  background-color: #fcebea; /* Light red background */
  border: 1px solid #d93025; /* Google red */
  color: #a4262c; /* Dark red text */
}

/* Neutral – Gray */
.notification.neutral {
  background-color: #efe7e7; /* Light gray background */
  border: 1px solid #9d9a9a;
  color: #666;
}

.time {
  font-weight: bold;
  margin-bottom: 0.5rem;
  color: #000;
}

.content {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color: #000;
}

.status-icon {
  height: 1.3rem;
  width: 1.3rem;
  margin-right: 7px;
  
}

.text {
  flex: 1;
  font-size: 1.1rem;
  color: #000;
 
}

.message-icon {
  width: 30px;
  height: 30px;
  margin-inline-start: 10px;
  vertical-align: middle;
  margin-top: -2px; 

}
.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-top: 1rem;
}

.pagination button {
  background-color: transparent;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
}

.pagination button:disabled {
  opacity: 0.4;
  cursor: not-allowed;
}


.no-message {
  background-color: #942222;
  color: white;
  font-family: 'Alef', sans-serif;
  font-size: 22px;
  font-weight: bold;
  text-align: center;
  padding: 28px 30px;
  border-radius: 12px;
  margin: 20px auto 10px auto;
}

  button {
    background: none;
    border: none;
    font-size: 1.5rem;
    margin: 0 1rem;
    cursor: pointer;
    color: #811313;
  }
.ride-filter-buttons {
  display: flex;
  justify-content: center;
  gap: 0.75rem;
  margin-bottom: 1rem;
  margin-top: -10px;
}

.ride-filter-buttons button {
  font-size: 14px;
  font-weight: 500;
  padding: 6px 14px;
  border: none;
  background-color: transparent;
  color: #811313;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.ride-filter-buttons button.active {
  background-color: #942222;
  color: white;
  font-weight: bold;
}
