<div class="wrapper">
  <div class="notification-page">
    <h2 class="title">הודעות</h2>

    <div *ngIf="pagedNotifications.length === 0" class="no-message">
      לא נמצאו הודעות עבורך
    </div>

<div 
  class="notification" 
  *ngFor="let note of pagedNotifications" 
  (click)="handleNotificationClick(note)"
  [ngClass]="[
    note.order_status ? getStatusClass(note.order_status) : 
    note.notification_type ? getLeaseAlerts(note.notification_type) || getInactiveAlerts(note.notification_type) : 'neutral',
    note.title === 'Vehicle Lease Expiry' ? 'lease-alert' : '',
    note.title === 'Inactive Vehicle' ? 'inactive-alert' : '',
    note.is_extended_request ? 'extended-alert' : ''
  ]">

      <div class="content">
       <span *ngIf="note.is_extended_request" title="שים לב-נסיעה ארוכה!">
        🚨 
       </span>
        <img src="/assets/images/message.png" alt="Message Icon" class="message-icon" />
         <span class="text">{{ translateMessage(note.message) }}</span>
        <div class="time">{{ note.timeAgo }}</div>  
      </div>
    </div>

  <div class="pagination-controls">

    <button (click)="prevPage()" [disabled]="currentPage === 1">
      <span class="icon">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor">

          <path d="M8.59 16.59L13.17 12 8.59 7.41 10 6l6 6-6 6z" />
        </svg>
      </span>
    </button>

    <span>עמוד {{ currentPage }} מתוך {{ totalPages }}</span>
    <button (click)="nextPage()" [disabled]="currentPage === totalPages">
      <span class="icon">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor">
          <path d="M15.41 7.41L14 6l-6 6 6 6 1.41-1.41L10.83 12z" />
        </svg>
      </span>
    </button>
  </div>
  </div>
</div>
