<div class="page-container">
  <div class="user-data-container">
    <div class="content">
      <!-- כפתור סגירה -->
      <!-- <a routerLink="/admin/critical-issues"><span class="close-button">✕</span></a> -->

      <!-- כותרת -->
      <div class="header">
        <h2 class="header-title">פרטי משתמשים</h2>
      </div>
 <div class="filters-row">
        <div class="filter-section">
          <button class="filter-button" (click)="showFilters = !showFilters">
            {{ showFilters ? 'הסתר חיפוש' : 'הצג חיפוש' }}
          </button>
        </div>
        <div class="filter-actions-row">
          
          
        </div>
      </div>

      <div *ngIf="showFilters" class="search-container">
<div class="search-container">
  <input
    type="text"
    class="audit-search-input"
    placeholder="חיפוש לפי שם או מייל  "
    [(ngModel)]="searchTerm"
    (input)="filterLogs()"
  />
  
  <select
    class="role-filter-dropdown"
    [(ngModel)]="selectedRole"
    (change)="filterLogs()"
  >
    <option value="">סנן לפי תפקיד</option>
    <option *ngFor="let role of availableRoles" [value]="role">
      {{ role }}
    </option>
  </select>
</div>


      </div>
    
      <!-- טבלה -->
      <div class="table-wrapper">
        <table class="user-table">
          <thead>
            <tr>
              <th class="column-name">שם עובד</th>
              <th class="column-role">תפקיד</th>
              <th class="column-department">מחלקה</th>
              <th class="column-email">כתובת דואר אלקטרוני</th>
              <th class="column-actions">פעולות</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngIf="pagedUsers.length === 0">
  <td colspan="5" class="no-results">לא נמצאו משתמשים תואמים</td>
</tr>



<tr *ngFor="let user of pagedUsers" 
    (click)="goToUserCard(user.employee_id)" 
    class="clickable-row"
    [ngClass]="{'blocked-user-row': user.is_blocked}">
              <td>
  <div class="column-name">
        <small *ngIf="licenceExpiredMap[user.employee_id]" class="expired"> ⚠️ </small>
        <small *ngIf="user.is_blocked" class="blocked-indicator"> 🚫 </small>
    <span [ngClass]="{'blocked-text': user.is_blocked}">{{ user.first_name }} {{ user.last_name }}</span>
  </div>
</td>

              <td class="column-role" [ngClass]="{'blocked-text': user.is_blocked}">{{ user.role }}</td>
              <td class="column-department" [ngClass]="{'blocked-text': user.is_blocked}">
  {{ departmentNames[user.department_id] || user.department_id }}
</td>

              <td class="column-email" [ngClass]="{'blocked-text': user.is_blocked}">{{ user.email }}</td>
              <td class="column-actions">
                 <!-- Edit Button -->
                  <div class="modify-buttons">
                    <a class="edit-button" routerLink="/user-data-edit/{{user?.employee_id}}">

  <button title="ערוך משתמש"
    class="modify">
     ✏️
  </button>
                    </a>
  <!-- Delete Button -->
  
  <button onclick="event.stopPropagation()"  (click)="deleteUser(user.employee_id)"
    class="delete" title="מחק משתמש">
  🗑️
  </button>

<!-- Block/Unblock Button -->
<button 
  *ngIf="!user.is_blocked" 
  class="block" 
  onclick="event.stopPropagation()" 
  (click)="openBlockUserModal(user)"
  title="חסום משתמש">
  <i class="pi pi-ban"></i>
</button>

<button 
  *ngIf="user.is_blocked" 
  class="unblock" 
  onclick="event.stopPropagation()" 
  (click)="openUnblockConfirmationModal(user)"
  title="בטל חסימה">
  <i class="pi pi-check-circle"></i>
</button>


  
  </div>
              </td>


              
            </tr>

          </tbody>
        </table>

  <div class="pagination-controls" dir="rtl" style="text-align: center; margin-top: 1.5rem;">
          <button (click)="prevPage()" [disabled]="currentPage === 1">▶</button>
          <span>עמוד {{ currentPage }} מתוך {{ totalPages }}</span>
          <button (click)="nextPage()" [disabled]="currentPage === totalPages">◀</button>
        </div>
      </div>


<div *ngIf="isBlockUserModalOpen" class="modal-overlay">
  <div class="modal-content">
    <h2>חסימת משתמש</h2>
    <p>חסימת המשתמש: <strong>{{ selectedUserForBlock?.first_name }} {{ selectedUserForBlock?.last_name }}</strong></p>
    <form [formGroup]="blockUserForm" (ngSubmit)="confirmBlockUser()">
      <div class="form-group">
        <label for="blockDuration">משך חסימה (ימים):</label>
        <input
          type="number"
          id="blockDuration"
          formControlName="blockDuration"
          min="1"
          class="form-control"
        />
        <div *ngIf="blockUserForm.get('blockDuration')?.invalid && blockUserForm.get('blockDuration')?.touched" class="text-danger">
          חובה להזין מספר ימים חיובי.
        </div>
      </div>

      <div class="modal-buttons">
        <button type="submit" class="btn btn-primary" [disabled]="blockUserForm.invalid">
        כן
        </button>
        <button type="button" class="btn btn-secondary" (click)="closeBlockUserModal()">
          ביטול
        </button>
      </div>
    </form>
  </div>
</div>

<div *ngIf="isUnblockConfirmationModalOpen" class="modal-overlay">
  <div class="modal-content">
    <h2>שחרור חסימת משתמש</h2>
    <p>האם אתה בטוח שברצונך לשחרר את חסימת המשתמש <strong>{{ selectedUserForBlock?.first_name }} {{ selectedUserForBlock?.last_name }}</strong>?</p>
    <div class="modal-buttons">
      <button type="button" class="btn btn-primary" (click)="confirmUnblockUser()" >
        כן
      </button>
      <button type="button" class="btn btn-secondary" (click)="closeUnblockConfirmationModal()">
        לא
      </button>
    </div>
  </div>
</div>

      </div>
    </div>
  </div>


<router-outlet></router-outlet>