<div class="filter-sort-container">
  <div class="filter-wrapper">
    <button class="filter-btn" (click)="toggleFilters()">
      <i class="pi pi-filter"></i>
      <span>סינון</span>
    </button>

    <div *ngIf="showFilters" class="filters-panel">
      <div class="filters-grid">
        <select
          class="filter-select"
          [(ngModel)]="statusFilter"
          (change)="onStatusFilterChange()"
        >
          <option value="">כל הסטטוסים</option>
          <option value="זמין">זמין</option>
          <option value="בשימוש">בשימוש</option>
          <option value="מוקפא">מוקפא</option>
        </select>

        <select
          class="filter-select"
          [(ngModel)]="typeFilter"
          (change)="onTypeFilterChange()"
        >
          <option value="">כל הסוגים</option>
          <option *ngFor="let type of vehicleTypes" [value]="type.original">
            {{ type.original }}
          </option>
        </select>
        <select
          class="filter-select"
          [(ngModel)]="departmentFilter"
          (change)="onDepartmentFilterChange()"
        >
          <option value="">כל המחלקות</option>
          <option value="לא משוייך למחלקה">לא משוייך למחלקה</option>
          <option *ngFor="let dept of departmentList" [value]="dept">
            {{ dept }}
          </option>
        </select>
      </div>

      <div class="filters-checkboxes">
        <label class="checkbox-label">
          <input
            type="checkbox"
            [(ngModel)]="showInactive"
            (change)="onInactiveChange()"
          />
          <span>הצג כלי רכב לא פעילים</span>
          <i class="pi pi-exclamation-triangle"></i>
        </label>
      </div>
      <div class="filters-actions">
        <button
          type="button"
          class="app-clear-filters-btn"
          (click)="clearFilters()"
          [disabled]="!isFilterActive()"
        >
          הסר סינון
        </button>
      </div>
    </div>
  </div>

  <div class="filter-wrapper">
    <button class="filter-btn" (click)="toggleSort()">
      <i class="pi pi-sort-alt"></i>
      <span>מיון</span>
    </button>

    <div *ngIf="showSort" class="filters-panel">
      <div class="filters-checkboxes">
        <label
          class="checkbox-label"
          *ngIf="userRole === 'admin' || userRole === 'manager'"
        >
          <input
  type="radio"
  name="sortOption"
  value="monthly"
  [(ngModel)]="sortOption"
  (change)="onSortOptionChange()"
/>
          <span>מיין רכבים לפי השימוש הכי גבוה בחודש זה</span>
        </label>

        <label
          class="checkbox-label"
           style="margin-bottom: 14px;"
          *ngIf="userRole === 'admin' || userRole === 'manager'"
        >
          <input
  type="radio"
  name="sortOption"
  value="alltime"
  [(ngModel)]="sortOption"
  (change)="onSortOptionChange()"
/>
            <span>מיין רכבים לפי השימוש הכי גבוה בכל הזמנים</span>
        </label>
      </div>
      <button 
      style="margin-top: 0px;"
        type="button" 
        class="app-clear-filters-btn" 
        (click)="clearSorting()"
        [disabled]="!isSortActive()"
      >
        הסר מיון
  </button>
    </div>
  </div>
</div>
