<div class="page-wrapper">
  <div class="vehicle-form-container">
    <h2>הוסף רכב חדש</h2>

    <div class="vehicle-wrapper-header">
      <button class="back-btn" (click)="goBack()">← חזור</button>
    </div>
    <br />

    <form (ngSubmit)="submitForm()" [formGroup]="vehicleForm" novalidate>

      <label>סוג רכב (קטן, גדול...)</label>
      <input formControlName="type" type="text" />
      <div class="error" *ngIf="vehicleForm.get('type')?.touched && vehicleForm.get('type')?.invalid">
        סוג רכב נדרש
      </div>

      <label>דגם רכב</label>
      <input formControlName="vehicle_model" type="text" />
      <div class="error" *ngIf="vehicleForm.get('vehicle_model')?.touched && vehicleForm.get('vehicle_model')?.invalid">
        דגם נדרש
      </div>

      <label>מספר רישוי</label>
      <input formControlName="plate_number" type="text" />
      <div class="error" *ngIf="vehicleForm.get('plate_number')?.touched && vehicleForm.get('plate_number')?.invalid">
        מספר רישוי נדרש
      </div>

      <label for="department_id">מחלקה:</label>
      <select formControlName="department_id" id="department_id">
        <option [ngValue]="null" disabled selected>בחר מחלקה</option>
        <option *ngFor="let dept of departments" [ngValue]="dept.value">{{ dept.name }}</option>
      </select>
      <div class="error" *ngIf="vehicleForm.get('department_id')?.touched && vehicleForm.get('department_id')?.invalid">
        סוג מחלקה נדרש
      </div>

      <label for="fuel_type">סוג דלק:</label>
      <select formControlName="fuel_type" id="fuel_type">
        <option value="" disabled selected>בחר סוג דלק</option>
        <option *ngFor="let fuel of fuelTypes" [value]="fuel.value">{{ fuel.label }}</option>
      </select>
      <div class="error" *ngIf="vehicleForm.get('fuel_type')?.touched && vehicleForm.get('fuel_type')?.invalid">
        סוג דלק נדרש
      </div>

      <label>תוקף חוזה השכרה</label>
      <input formControlName="lease_expiry" type="date" />
      <div class="error" *ngIf="vehicleForm.get('lease_expiry')?.touched && vehicleForm.get('lease_expiry')?.invalid">
        תאריך נדרש
      </div>

      <label>כמה הרכב עבר ב-ק"מ</label>
      <input formControlName="odometer_reading" type="number" />
      <div class="error"
        *ngIf="vehicleForm.get('odometer_reading')?.touched && vehicleForm.get('odometer_reading')?.invalid">
        חובה להזין מספר ק"מ חוקי
      </div>

      <label>מיקום נוכחי</label>
      <input formControlName="current_location" type="text" />
      <div class="error"
        *ngIf="vehicleForm.get('current_location')?.touched && vehicleForm.get('current_location')?.invalid">
        מיקום נדרש
      </div>

      <label>תמונה (URL)</label>
      <input formControlName="image_url" type="text" />
      <div class="error" *ngIf="vehicleForm.get('image_url')?.touched && vehicleForm.get('image_url')?.invalid">
        כתובת תמונה נדרשת
      </div>

      <button type="submit">שלח</button>
    </form>
  </div>
</div>