<form [formGroup]="resetForm" (ngSubmit)="onSubmit()">
  <h2>שחזור סיסמה</h2>

  <label>סיסמה חדשה</label>
  <div class="password-container">
    <input
      [type]="showPassword ? 'text' : 'password'"
      formControlName="password"
      class="password-input"
    />
    <mat-icon class="show-password" (click)="togglePassword()">
      {{ showPassword ? "visibility" : "visibility_off" }}
    </mat-icon>
    <div *ngIf="submitted && f['password'].errors">
      <small *ngIf="f['password'].errors['required']">שדה חובה</small>
      <small *ngIf="f['password'].errors['minlength']">לפחות 6 תווים</small>
    </div>
  </div>
  <label>אימות סיסמה</label>

  <div class="password-container">
    <input
      [type]="showConfirmPassword ? 'text' : 'password'"
      formControlName="confirmPassword"
    />
    <div *ngIf="submitted && f['confirmPassword'].errors">
      <small *ngIf="f['confirmPassword'].errors['required']">שדה חובה</small>
    </div>
    <mat-icon class="show-password" (click)="toggleConfirmPassword()">
      {{ showConfirmPassword ? "visibility" : "visibility_off" }}
    </mat-icon>
    <div *ngIf="submitted && resetForm.errors?.['mismatch']">
      <small>הסיסמאות לא תואמות</small>
    </div>
  </div>

  <button type="submit">איפוס סיסמה</button>

  <div *ngIf="message" style="color: green">{{ message }}</div>
  <div *ngIf="error" style="color: red">{{ error }}</div>
</form>
