form {
  direction: rtl;
  max-width: 400px;
  margin: 80px auto;
  padding: 2rem;
  border-radius: 1.5rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.08);
  font-family: "Alef", sans-serif;
  background-color: white;
}

h2 {
  text-align: center;
  margin-bottom: 1.5rem;
  color: #2c3e50;
  font-size: 1.8rem;
}

label {
  display: block;
  margin-bottom: 0.5rem;
  color: #333;
  font-weight: 500;
}

input {
  width: 100%;
  font-family: "Alef", sans-serif;
  background-color: #fdfdfd;
  margin-bottom: 0.5rem;
  width: 100%;
  padding: 10px 40px 10px 10px;
  border: 1px solid #ccc;
  background: #e5e5e5;
  border-radius: 5px;
  font-size: 16px;
  direction: rtl;
}

button {
  width: 100%;
  padding: 0.75rem;
  background-color: #942222;
  color: white;
  border: none;
  border-radius: 0.75rem;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 20px;
}

button:hover {
  background-color: #a23333;
}

small {
  color: #e74c3c;
  font-size: 0.9rem;
}

div[style*="color: green"],
div[style*="color: red"] {
  margin-top: 1rem;
  text-align: center;
  font-size: 1rem;
  font-weight: 500;
}
.show-password {
  z-index: 90;
  width: 30px;
  height: 30px;
  position: absolute;
  left: 10px;
}
.password-container {
  position: relative;
  display: flex;
  align-items: center;
}
