.page-container {
  min-height: calc(100vh - 55px);
  padding: 25px;
  direction: rtl;
}

.user-data-container {
  direction: rtl;
  width: 70%;
  margin: 0 auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 600px;
  background-color: #fff;
  border-radius: 12px;
  border: 1px solid #e0e0e0;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  font-family: 'Alef', sans-serif;
}

.content {
  padding: 25px 20px;
  position: relative;
}

.edit-button {
  position: absolute;

  text-decoration: none;
  color: rgb(93, 6, 6) !important;
  border: none;
 
  background: none;
  cursor: pointer;
}


.back-button {
  position: absolute;
  top: 15px;
  left: 20px;
  color: #942222 !important;
  text-decoration: none;
  font-weight: bold;
  font-size: 14px;
}

.header {
  text-align: center;
  margin-bottom: 30px;
  border-bottom: 1px solid #e0e0e0;
  padding-bottom: 15px;
}

.header-title {
  font-weight: 700;
  font-size: 22px;
  color: #942222;
}

.user-details {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.detail-row {
  display: flex;
  justify-content: space-between;
  font-size: 16px;
  border-bottom: 1px solid #eaeaea;
  padding-bottom: 8px;
}

.label {
  font-weight: bold;
  color: #942222;
}

.value {
  color: #333;
}

@media (max-width: 768px) {
  .user-data-container {
    width:
  90%;
    padding: 15px;
  }}