*{
    font-family: 'alef'
}

.smalltxt{
    direction: rtl;
    font-size: 0.88rem;
    color: rgb(94, 0, 0);
}


mat-dialog-content, mat-dialog-actions, p {
  font-size: 1.05rem;
  text-align: right;
}

mat-dialog-actions {
  display: flex !important;
  flex-direction: row !important;
  justify-content: flex-start !important; /* Force align buttons to the left */
  direction: ltr;
}