* {
  font-family: "alef";
}

.custom-confirm-dialog-wrapper {
  border: 2px solid #942222;
  border-radius: 26px;
}

.smalltxt {
  direction: rtl;
  font-size: 0.88rem;
  color: rgb(94, 0, 0);
}

mat-dialog-content,
mat-dialog-actions {
  overflow: visible !important;
  max-height: none !important;
  font-size: 1.05rem;
  text-align: right;
  direction: rtl;
}

p {
  font-size: 1.05rem;
  text-align: right;
  direction: rtl;
}

.mat-dialog-title {
  font-size: 1.25rem;
  font-weight: normal;
  text-align: right;
  margin-top: 20px;
  margin-right: 20px;
  color: rgb(53, 47, 47);
  font-family: "alef";
}

mat-dialog-actions {
  display: flex !important;
  flex-direction: row-reverse !important; 
  justify-content: flex-start !important; 
}
