<table class="vehicle-issues-table">
  <thead>
    <tr>
      <th>רכב</th>
      <th>מלוכלך</th>
      <th>לא מתודלק</th>
      <th>נשכחו חפצים</th>
      <th>אירוע חריג</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let issue of vehicleIssues">
      <td>{{ issue.plate }}</td>
      <td><input type="checkbox" [(ngModel)]="issue.dirty" /></td>
      <td><input type="checkbox" [(ngModel)]="issue.fuel_checked" /></td>
      <td><input type="checkbox" [(ngModel)]="issue.items_left" /></td>
      <td><input type="checkbox" [(ngModel)]="issue.critical_issue" /></td>
    </tr>
  </tbody>
</table>

<!-- Conditional critical issue description -->
<div *ngIf="hasCriticalIssue()" class="critical-description">
  תיאור של בעיה קריטית
</div>


<button (click)="submitIssues()" class="cute-red-button">שלח בדיקות</button>
