<div class="timeline-page-wrapper">
  <div class="timeline-page-container">
    <div class="timeline-container">
   <div class="timeline-header">
    <button class="back-btn" (click)="navigateBack()">חזור ←</button>

  <h2 class="timeline-title">לו״ז רכב</h2>

  <div class="header-sub">
    <p>מזהה רכב: {{ vehicleId }}</p>

    <div class="week-controls">
      <button (click)="navigateWeek(-1)">→ שבוע קודם</button>
      <span class="week-label">
        {{ currentWeekStart | date: 'd MMMM' : 'he' }} - {{ weekEnd | date: 'd MMMM y' : 'he' }}
      </span>
      <button (click)="navigateWeek(1)">שבוע הבא ←</button>
    </div>
  </div>
</div>


      <div class="timeline-body">
        <div class="timeline-hours-labels">
            <div class="hour-label-header"></div>
            <div *ngFor="let hour of getHoursRange()" class="hour-label-slot">
                <span class="hour-text">{{ hour }}:00</span>
            </div>
        </div>

        <div class="timeline-days">
          <div class="timeline-day" *ngFor="let day of getDaysRange()">
            <div class="day-label">{{ day | date: 'EEEE, d MMM' : 'he' }}</div>
            
            <div class="timeline-hours">
              
              <div class="hour-slot" *ngFor="let hour of getHoursRange()"></div>
              
              <div
                *ngFor="let ride of processedRides.get(getDateKey(day))"
                class="ride-block"
                [class.is-midnight-block]="ride.top === 0"  [ngStyle]="{
                  'top.px': ride.top,
                  'height.px': ride.height,
                  'background-color': getColorByStatus(ride.status)
                }"
                [title]="'נהג: ' + ride.first_name + ' ' + ride.last_name + '\nמזהה משתמש: ' + ride.user_id + '\nסטטוס: ' + ride.status + '\nזמן התחלה: ' + (ride.start_datetime | date: 'dd/MM/yyyy HH:mm') + '\nזמן סיום: ' + (ride.end_datetime | date: 'dd/MM/yyyy HH:mm')"
              >
                <div class="ride-info">
                    <span class="ride-driver">{{ride.first_name}} {{ride.last_name}}</span>
                    <span class="ride-status">{{ride.status}}</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
