<div class="admin-notifications-container">
  <h2>התראות מערכת</h2>

  <div *ngIf="pagedNotifications.length === 0">
    <p>אין התראות להצגה</p>
  </div>

  <div *ngFor="let notif of pagedNotifications" class="notification-card" 
     (click)="handleNotificationClick(notif)">
  <p><strong>{{ notif.title }}</strong></p>
  <p>{{ notif.message }}</p>
  <small>נשלח {{ notif.timeAgo }}</small>
</div>


  <div class="pagination-controls" *ngIf="totalPages > 1">
    <button (click)="prevPage()" [disabled]="currentPage === 1">הקודם</button>
    <span>{{ currentPage }} / {{ totalPages }}</span>
    <button (click)="nextPage()" [disabled]="currentPage === totalPages">הבא</button>
  </div>
</div>
