@import "primeicons/primeicons.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Alef', sans-serif;
}

.custom-toast {
  position: fixed;
  top: 80px;
  right: 20px;
  padding: 1rem 1.5rem;
  border-radius: 8px;
  color: #fff;
  font-family: 'Alef', sans-serif;
  font-size: 16px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  z-index: 99999;
  animation: slideIn 0.3s ease, fadeOut 0.5s ease 2.5s;
  max-width: 300px;
  opacity: 1;
  pointer-events: none;
  direction: rtl;
  text-align: right;
}

.custom-toast.success {
  background-color: #38a169;
}

.custom-toast.error {
  background-color: #e53e3e;
}

@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateY(-15px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Alef', sans-serif;
}


body {
  background-image: url('/assets/images/notifications-bg.png');
  background-size: cover;
  background-repeat: repeat;
  background-attachment: fixed;
  background-position: center;
  font-family: 'Alef', sans-serif;
}
