.spinner-img {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
  width: 100px;  
  height: auto;
}

.spinner-img {
  transition: opacity 0.3s ease-in-out;
}
