<div class="analytics-container">
  <div class="chart-card">
    <!-- SORT DROPDOWN -->
    <div class="sort-container inside-card">
      <label for="sortSelect">מיין לפי:</label>
      <select id="sortSelect" [(ngModel)]="selectedSortOption" (change)="onSortChange()">
        <option value="default">ברירת מחדל</option>
        <option value="countAsc">כמות - עולה</option>
        <option value="countDesc">כמות - יורד</option>
        <option value="alphabetical">א-ת</option>
      </select>
    </div>

    <p-tabView [(activeIndex)]="activeTabIndex" (onChange)="onTabChange($event.index)">
  <p-tabPanel class="titles" header="סטטוס רכבים">
    <div class="chart-container">
      <p-chart 
      id="vehicleChart"
        *ngIf="vehicleChartInitialized && vehicleChartData" 
        type="pie" 
        [data]="vehicleChartData" 
        [options]="vehicleChartOptions"
        >
      </p-chart>
    </div> 
  </p-tabPanel> 
  
  <p-tabPanel header="סטטוס נסיעות">
    <div class="titles" class="chart-container">
      <p-chart 
      id="rideChart"
        *ngIf="rideChartInitialized && rideChartData" 
        type="pie" 
        [data]="rideChartData"  
        [options]="rideChartOptions">
      </p-chart>
      <div *ngIf="!rideChartInitialized">
        טוען נתונים...
      </div>
    </div>
  </p-tabPanel>
</p-tabView>
  </div>
</div>











